{% extends "base.html" %}
{% load static %}  


{% block contact %}

 <!-- Team Start -->
 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">ทีมงาน</h6>
            <h1 class="mb-5">ทีมงานการเลี้ยงลูกด้วยนมแม่</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <a href="{% url 'contact' %}"><img class="img-fluid" src="{% static 'img/prach.jpg' %}" alt=""></a>
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <!--<a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            -->
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <a href="{% url 'contact' %}"><h5 class="mb-0">นายปรัช บุญกวีร์</h5></a>
                        <a href="{% url 'contact' %}"><small>นักวิชาการสาธารณสุขชำนาญการ</small></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <a href="{% url 'contact' %}"><img class="img-fluid" src="{% static 'img/about1.jpg' %}" alt=""></a>
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <!--<a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            -->
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <a href="{% url 'contact' %}"><h5 class="mb-0">นายกฤษฎา พรหมภากร</h5></a>
                        <a href="{% url 'contact' %}"><small>ประธาน อ.ส.ม. หมู่ 5</small></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <a href="{% url 'contact' %}"><img class="img-fluid" src="{% static 'img/nurse.jpg' %}" alt=""></a>
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <!--<a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                            -->
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <a href="{% url 'contact' %}"><h5 class="mb-0">น.ส.ดารุณี นุ้ยเขียว</h5></a>
                        <a href="{% url 'contact' %}"><small>พยาบาลวิชาชีพชำนาญการ ทีปรึกษา</small></a>
                    </div>
                </div>
            </div>
            <!--<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/team-4.jpg' %}" alt="">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">ผู้เชี่ยวชาญ</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
        -->
        </div>
    </div>
</div>

<!-- Team End -->

        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title bg-white text-center text-primary px-3">ติดต่อเรา</h6>
                    <h1 class="mb-5">ข้อมูลการติดต่อเรา</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <h5>สามารถติดต่อเราได้ที่</h5>
                        <p class="mb-4">เลขที่ 1/1 หมู่ที่ 5 โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านคุริง ตำบลทรัพอนันต์ อำเภอท่าแซะ จังหวัดชุมพร 86140</p>
                        <div class="d-flex align-items-center mb-3">
                            <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                                <i class="fa fa-map-marker-alt text-white"></i>
                            </div>
                            <div class="ms-3">
                                <h5 class="text-primary">สำนักงาน</h5>
                                <p class="mb-0">โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านคุริง</p>
                                <p class="mb-0">ตำบลทรัพอนันต์ อำเภอท่าแซะ จังหวัดชุมพร</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                                <i class="fa fa-phone-alt text-white"></i>
                            </div>
                            <div class="ms-3">
                                <h5 class="text-primary">เบอร์โทร.</h5>
                                <p class="mb-0">077 651 774</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                                <i class="fa fa-envelope-open text-white"></i>
                            </div>
                            <div class="ms-3">
                                <h5 class="text-primary">อีเมล์</h5>
                                <p class="mb-0">pruch2514pruch01@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <iframe class="position-relative rounded w-100 h-100"
                            src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3920.31111993531!2d99.18090907680994!3d10.710468889434402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x30f8b329f7904a89%3A0x1598e09afb971047!2z4LmC4Lij4LiH4Lie4Lii4Liy4Lia4Liy4Lil4Liq4LmI4LiH4LmA4Liq4Lij4Li04Lih4Liq4Li44LiC4Lig4Liy4Lie4LiV4Liz4Lia4Lil4LiE4Li44Lij4Li04LiHIDEvMSDguKvguKHguLnguYggNSwg4LiV4Liz4Lia4Lil4LiE4Li44Lij4Li04LiHIOC4reC4s-C5gOC4oOC4reC4l-C5iOC4suC5geC4i-C4sCDguIjguLHguIfguKvguKfguLHguJTguIrguLjguKHguJ7guKMsIDg2MTQw!3m2!1d10.7104689!2d99.18348399999999!5e0!3m2!1sth!2sth!4v1733143193278!5m2!1sth!2sth"
                            frameborder="0" style="min-height: 300px; border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                            
                    </div>
                   <!-- <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                        <label for="subject">Subject</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                -->
                </div>
            </div>
            <div class="text-center mt-5">
                <a class="btn btn-primary py-3 px-5 mt-2" href="{% url 'index' %}">กลับสู่หน้าหลัก</a>
            </div>
        </div>
        <!-- Contact End -->
{% endblock contact %}
    